dify/OBD Log Diagnosis Expert.yml
# TODO: Add API key authentication to HTTP requests (currently no-auth).
# TODO: Make service URLs configurable via environment variables (currently hardcoded diagnostic-api:8000).
# TODO: Escape rag_query for JSON safety in Retrieve Context node (potential JSON injection).
# TODO: Add timeouts to HTTP requests (currently 0 = unlimited).
# TODO: Add error handling for RAG retrieval failure (check_context if-else node).
# TODO: Remove debug output field in production.
app:
  description: 'Paste raw OBD TSV log text to receive an expert vehicle diagnosis.'
  icon: "\U0001F527"
  icon_background: '#E4FBCC'
  mode: workflow
  name: OBD Log Diagnosis Expert
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    # Start → Summarize Log Text
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: start-source-summarize_log_text-target
      source: start
      sourceHandle: source
      target: summarize_log_text
      targetHandle: target
      type: custom
      zIndex: 0

    # Summarize Log Text → Parse Summary
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: summarize-source-parse_summary-target
      source: summarize_log_text
      sourceHandle: source
      target: parse_summary
      targetHandle: target
      type: custom
      zIndex: 0
    # Parse Summary → Check Parse
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: parse_summary-source-check_parse-target
      source: parse_summary
      sourceHandle: source
      target: check_parse
      targetHandle: target
      type: custom
      zIndex: 0
    # Check Parse YES → Retrieve Context
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: check_parse-true-retrieve_context-target
      source: check_parse
      sourceHandle: 'true'
      target: retrieve_context
      targetHandle: target
      type: custom
      zIndex: 0
    # Check Parse NO → End Error
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: check_parse-false-end_error-target
      source: check_parse
      sourceHandle: 'false'
      target: end_error
      targetHandle: target
      type: custom
      zIndex: 0
    # Retrieve Context → Parse Context
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: retrieve_context-source-parse_context-target
      source: retrieve_context
      sourceHandle: source
      target: parse_context
      targetHandle: target
      type: custom
      zIndex: 0
    # Parse Context → Expert Diagnosis
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: parse_context-source-expert_diagnosis-target
      source: parse_context
      sourceHandle: source
      target: expert_diagnosis
      targetHandle: target
      type: custom
      zIndex: 0
    # Expert Diagnosis → End Success
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: expert_diagnosis-source-end_success-target
      source: expert_diagnosis
      sourceHandle: source
      target: end_success
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    # ── Start ──────────────────────────────────────────────────────────────
    - data:
        desc: 'User pastes raw OBD TSV log text.'
        selected: false
        title: Start
        type: start
        variables:
        - label: log_text
          max_length: 0
          options: []
          required: true
          type: paragraph
          variable: log_text
      height: 90
      id: start
      position:
        x: 66
        y: 282
      positionAbsolute:
        x: 66
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ── Summarize Log Text (HTTP POST) ─────────────────────────────────────
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{{#start.log_text#}}"
          type: raw-text
        desc: 'POST raw log text to the summarize-log-raw API.'
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Summarize Log Text
        type: http-request
        url: http://diagnostic-api:8000/v2/tools/summarize-log-raw
        variables: []
      height: 122
      id: summarize_log_text
      position:
        x: 674
        y: 282
      positionAbsolute:
        x: 674
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── Parse Summary + Build RAG Query (code) ─────────────────────────────
    - data:
        code: |
          import json

          def main(response: str) -> dict:
              # Handle case where response is already a dict (Dify may pre-parse JSON)
              _empty = {
                  "parse_ok": "NO", "vehicle_id": "", "time_range": "",
                  "dtc_codes": "", "pid_summary": "", "anomaly_events": "",
                  "diagnostic_clues": "", "rag_query": "", "debug": "",
                  "formatted_json": "",
              }
              if isinstance(response, dict):
                  data = response
              else:
                  try:
                      data = json.loads(response)
                  except Exception:
                      _empty["debug"] = f"JSON parse failed: {str(response)[:200]}"
                      return _empty

              # Check if it's an error response
              if "detail" in data:
                  _empty["debug"] = f"API error: {data.get('detail', '')}"
                  return _empty

              vehicle_id = data.get("vehicle_id", "")

              tr = data.get("time_range", {})
              time_range = (
                  f"{tr.get('start', '?')} to {tr.get('end', '?')}, "
                  f"{tr.get('duration_seconds', 0)}s, "
                  f"{tr.get('sample_count', 0)} samples"
              )

              dtc_codes_list = data.get("dtc_codes", [])
              dtc_codes = ", ".join(dtc_codes_list) if dtc_codes_list else "None"

              # PID summary (legacy summarizer)
              pid_map = data.get("pid_summary", {})
              pid_lines = []
              for name, stats in pid_map.items():
                  pid_lines.append(
                      f"{name}: min={stats['min']} max={stats['max']} "
                      f"mean={stats['mean']:.2f} latest={stats['latest']} "
                      f"{stats.get('unit', '')}"
                  )
              pid_summary = "\n".join(pid_lines) if pid_lines else "None"

              # Anomaly events (v2 structured)
              events = data.get("anomaly_events") or []
              event_lines = []
              for ev in events:
                  sigs = ", ".join(ev.get("signals", []))
                  event_lines.append(
                      f"[{ev.get('severity', '?').upper()}] {ev.get('pattern', '?')} "
                      f"(context: {ev.get('context', '?')}, signals: {sigs}, "
                      f"score: {ev.get('score', 0):.2f})"
                  )
              anomaly_events = "\n".join(event_lines) if event_lines else "None"

              # Diagnostic clues (v2 rule-based)
              clue_strings = data.get("diagnostic_clues") or []
              clue_details = data.get("clue_details") or []
              clue_lines = []
              for cd in clue_details:
                  evidence = "; ".join(cd.get("evidence", []))
                  clue_lines.append(
                      f"[{cd.get('severity', '?').upper()}] {cd.get('rule_id', '?')}: "
                      f"{cd.get('clue', '?')} (evidence: {evidence})"
                  )
              diagnostic_clues = "\n".join(clue_lines) if clue_lines else "None"

              # --- Build RAG query ------------------------------------------------
              query_parts = []

              # Priority 1: DTC codes
              if dtc_codes_list:
                  query_parts.append("DTC codes: " + " ".join(dtc_codes_list))

              # Priority 2: Diagnostic clues (most informative for RAG)
              if clue_strings:
                  query_parts.append("Diagnostic clues: " + "; ".join(clue_strings[:5]))

              # Priority 3: Anomaly event patterns
              if events and not query_parts:
                  anomaly_desc = [ev.get("pattern", "") for ev in events[:5]]
                  query_parts.append("Anomalies: " + "; ".join(anomaly_desc))

              # Fallback: PID names with value fluctuations
              if not query_parts and pid_map:
                  fluctuating = []
                  for name, stats in pid_map.items():
                      if stats["min"] != stats["max"]:
                          fluctuating.append(name)
                  if fluctuating:
                      query_parts.append("PID fluctuations: " + " ".join(fluctuating))

              # Final fallback
              rag_query = " | ".join(query_parts) if query_parts else "general OBD vehicle health check"

              # Build a compact pretty-printed view for debugging.
              # Summarise value_statistics (signal names + key stats only) to avoid 50K dump.
              compact = dict(data)
              vs = compact.get("value_statistics")
              if vs and isinstance(vs, dict) and "stats" in vs:
                  summary = {}
                  for sig, st in vs["stats"].items():
                      summary[sig] = {
                          "mean": st.get("mean"), "std": st.get("std"),
                          "min": st.get("min"), "max": st.get("max"),
                          "valid_count": st.get("valid_count"),
                      }
                  compact["value_statistics"] = {
                      "stats (compact)": summary,
                      "column_units": vs.get("column_units", {}),
                      "resample_interval_seconds": vs.get("resample_interval_seconds"),
                  }
              formatted_json = json.dumps(compact, indent=2, ensure_ascii=False, default=str)

              return {
                  "parse_ok": "YES",
                  "vehicle_id": vehicle_id,
                  "time_range": time_range,
                  "dtc_codes": dtc_codes,
                  "pid_summary": pid_summary,
                  "anomaly_events": anomaly_events,
                  "diagnostic_clues": diagnostic_clues,
                  "rag_query": rag_query,
                  "debug": f"OK, keys={list(data.keys())[:8]}",
                  "formatted_json": formatted_json,
              }
        code_language: python3
        desc: 'Extract fields from v2 summary JSON and build a RAG query from DTCs + clues + anomalies.'
        outputs:
          parse_ok:
            children: null
            type: string
          vehicle_id:
            children: null
            type: string
          time_range:
            children: null
            type: string
          dtc_codes:
            children: null
            type: string
          pid_summary:
            children: null
            type: string
          anomaly_events:
            children: null
            type: string
          diagnostic_clues:
            children: null
            type: string
          rag_query:
            children: null
            type: string
          debug:
            children: null
            type: string
          formatted_json:
            children: null
            type: string
        selected: false
        title: Parse Summary
        type: code
        variables:
        - value_selector:
          - summarize_log_text
          - body
          variable: response
      height: 54
      id: parse_summary
      position:
        x: 978
        y: 282
      positionAbsolute:
        x: 978
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── Check Parse (if-else) ──────────────────────────────────────────────
    - data:
        conditions:
        - comparison_operator: is
          id: cond_parse_ok
          value: 'YES'
          variable_selector:
          - parse_summary
          - parse_ok
        desc: 'Continue only if the summary was parsed successfully.'
        logical_operator: and
        selected: false
        title: Check Parse
        type: if-else
      height: 126
      id: check_parse
      position:
        x: 1282
        y: 282
      positionAbsolute:
        x: 1282
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── Retrieve Context (HTTP POST) ───────────────────────────────────────
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n  \"query\": \"{{#parse_summary.rag_query#}}\",\n  \"top_k\": 3\n}"
          type: json
        desc: 'Retrieve relevant knowledge chunks via the RAG API.'
        headers: ''
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Retrieve Context
        type: http-request
        url: http://diagnostic-api:8000/v1/rag/retrieve
        variables: []
      height: 122
      id: retrieve_context
      position:
        x: 1586
        y: 282
      positionAbsolute:
        x: 1586
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── Parse Context (code) ───────────────────────────────────────────────
    - data:
        code: |
          import json

          def main(response: str) -> dict:
              if isinstance(response, dict):
                  data = response
              else:
                  try:
                      data = json.loads(response)
                  except Exception:
                      return {"context": ""}
              results = data.get("results", [])
              chunks = [r.get("text", "") for r in results if r.get("text")]
              return {"context": "\n\n".join(chunks)}
        code_language: python3
        desc: 'Join retrieved result texts into a single context string.'
        outputs:
          context:
            children: null
            type: string
        selected: false
        title: Parse Context
        type: code
        variables:
        - value_selector:
          - retrieve_context
          - body
          variable: response
      height: 54
      id: parse_context
      position:
        x: 1890
        y: 282
      positionAbsolute:
        x: 1890
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── Expert Diagnosis (LLM) ─────────────────────────────────────────────
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Generate a structured vehicle diagnosis from the OBD log summary and RAG context.'
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: llama3:8b
          provider: ollama
        prompt_template:
        - id: system-prompt-obd-diagnosis
          role: system
          text: >-
            You are an expert automotive diagnostic technician with deep knowledge
            of OBD-II protocols, engine management systems, and vehicle diagnostics.

            Rules:
            1. Reference exact PID names, values, and units from the data provided.
            2. Cite retrieved context when it supports your analysis.
            3. Cross-correlate multiple PIDs to identify related issues.
            4. Distinguish between confirmed faults and suspected faults.
            5. Rate severity: CRITICAL, MODERATE, or LOW.
            6. Structure your response as:
               - Summary (1-2 sentences)
               - Findings (bullet points per issue)
               - Root Cause Analysis
               - Recommendations (actionable steps)
               - Limitations (what additional data would help)
        - id: user-prompt-obd-diagnosis
          role: user
          text: >-
            Diagnose the following vehicle based on its OBD-II log data.

            **Vehicle ID:** {{#parse_summary.vehicle_id#}}

            **Time Range:** {{#parse_summary.time_range#}}

            **DTC Codes:** {{#parse_summary.dtc_codes#}}

            **PID Statistics:**

            {{#parse_summary.pid_summary#}}

            **Anomaly Events (with severity, context, and scores):**

            {{#parse_summary.anomaly_events#}}

            **Diagnostic Clues (rule-based, with evidence):**

            {{#parse_summary.diagnostic_clues#}}

            ---

            **Retrieved Technical Context:**

            {{#parse_context.context#}}

            ---

            Provide your expert diagnosis following the required structure.
        selected: false
        title: Expert Diagnosis
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: expert_diagnosis
      position:
        x: 2194
        y: 282
      positionAbsolute:
        x: 2194
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── End Success ────────────────────────────────────────────────────────
    - data:
        desc: ''
        outputs:
        - value_selector:
          - expert_diagnosis
          - text
          variable: diagnosis
        selected: false
        title: End Success
        type: end
      height: 90
      id: end_success
      position:
        x: 2498
        y: 282
      positionAbsolute:
        x: 2498
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # ── End Error ──────────────────────────────────────────────────────────
    - data:
        desc: 'Parse failure — summary could not be extracted.'
        outputs:
        - value_selector:
          - parse_summary
          - debug
          variable: error
        selected: false
        title: End Error
        type: end
      height: 90
      id: end_error
      position:
        x: 1586
        y: 443
      positionAbsolute:
        x: 1586
        y: 443
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 148
      zoom: 1
